*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.top-container{
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: #ffffff;
    text-align: center;
}
.hero-area{
    padding-top: 90px;
}
.hero-font{
    font-size: 60px;
}
.p-font{
    font-size: 20px;
    padding-bottom: 40px;
}
.btn-link{
    text-decoration: none;
    background-color: #FF5959;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 5px;
}

.nav-tk{
    display: flex;
}