*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.top-container{
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: #ffffff;
    text-align: center;
}
.hero-area{
    padding-top: 90px;
}
.hero-font{
    font-size: 60px;
}
.p-font{
    font-size: 20px;
    padding-bottom: 40px;
}
.btn-link{
    text-decoration: none;
    background-color: #FF5959;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 5px;
}
.donate-area{
    text-align: center;
    padding-top: 80px;
}
.donate-area h1{
    font-size: 40px;
}
.text-color{
    color: gray;
    padding-top: 10px;
}
.nav-tk ul{
    display: inline-flex;
    font-size: 30px;
}
.nav-tk ul ol{
    padding: 30px;
}
.mark-200{
    color: #FF5959;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #FFEEEE;
}
.form-area{
    padding: 40px;
}
.text-amount{
    padding: 30px;
    border: none;
    border-color: transparent;
    border-bottom: 1px solid gray;
    width: 35%;
    text-align: center;
}

